@use 'base' as b;

.searchEntry {
  @include b.flexColumn;
  width: 100%;
  padding-top: 40px;

  .logo {
    letter-spacing: -6px;
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
    @include b.mq(768px) {
      font-size: 4rem;
      letter-spacing: -10px;
    }
  }
  .searchBar {
    width: 70%;
    display: flex;
    border: 2px solid b.$search-bar-border;
    border-radius: 500px;
    // padding: 0.15rem 0.25rem 0.15rem 0.75rem;
    padding: 0 0.25rem 0 0.75rem;

    @include b.mq(768px) {
      width: 60%;
      padding: 0.25rem 1.5rem;
    }
    @include b.mq(1024px){
      width: 40%;
    }

    input[type='text'] {
      // since searchBar is flex-row, grow will occupy the empty space after search icon
      flex-grow: 1;
      font-size: 0.75rem;
      text-align: left;
      letter-spacing: 0.1rem;
      border: none;
      outline: none;
      min-width: 150px;
      @include b.mq(768px) {
        font-size: 0.9rem;
      }
      @include b.mq(768px) {
        font-size: 1rem;
      }
    }

    .button {
      cursor: pointer;
      border: 0;
      background: transparent;
      min-width: 40px;
      min-height: 40px;
      &:hover,
      &:focus {
        // & is used in SASS to use parent inside it's scope
        i {
          padding-bottom: 0.5rem;
          border-bottom-width: 1px;
          border-bottom-style: solid;
        }
      }

      i {
        font-size: 0.75rem;
        @include b.mq(768px) {
          font-size: 1rem;
        }
      }
    }

    .searchButton:hover,
    .searchButton:focus {
      i {
        color: b.$logo-green;
      }
    }

    .clear:hover,
    .clear:focus {
      i {
        color: b.$logo-red;
      }
    }

    .searchButton {
      @include b.mq(768px) {
        padding-left: 1rem;
      }
    }

    .clear {
      // display: flex;
      justify-content: center;
      align-items: center;
      color: b.$stats-color;
      border-right: thin solid b.$clear-button-color;
      @include b.mq(768px) {
        padding: 0 1rem;
      }
    }
  }

  .searchBar:hover,
  .searchBar:focus-within { 
    box-shadow: 0 2px 5px 2px b.$search-bar-border;
  }

  // in focus-within, if any descendant is focused, then the parent is also automatically focused
}
