@use 'base';

.blue {
  color: base.$logo-blue;
}

.red {
  color: base.$logo-red;
}

.yellow {
  color: base.$logo-yellow;
}

.green {
  color: base.$logo-green;
}

.none { // for X button inside search bar
  display: none;
}

.flex {
  display: flex;
}
